Repository dzenand/release-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Server, App: Dashboard, App: Web

.github/labeler.yml:

"App: Server":
  - changed-files:
      - any-glob-to-any-file:
          - apps/server/**/*

"App: Dashboard":
  - changed-files:
      - any-glob-to-any-file:
          - apps/dashboard/**/*

"App: Web":
  - changed-files:
      - any-glob-to-any-file:
          - apps/web/**/*

Update server.md
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#4)
  apps/server/server.md
Labels: App: Server

multi app support
  .github/release-drafter-web.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#5)
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#6)
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#7)
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#8)
  apps/server/server.md
Labels: App: Server

Update web.md
  apps/web/web.md
Labels: App: Web

Update web.md (#9)
  apps/web/web.md
Labels: App: Web

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update dashboard.md
  apps/dashboard/dashboard.md
Labels: App: Dashboard

Update dashboard.md (#10)
  apps/dashboard/dashboard.md
Labels: App: Dashboard

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#11)
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#12)
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update web.md
  apps/web/web.md
Labels: App: Web

Update web.md (#13)
  apps/web/web.md
Labels: App: Web

pr check
  .github/workflows/labeler.yml
  .github/workflows/pr-check.yml
Labels: none
