Repository dzenand/release-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Server, App: Dashboard, App: Web

Update server.md
  apps/server/server.md
Labels: App: Server

Update pr-check.yml
  .github/workflows/pr-check.yml
Labels: none

Update pr-check.yml
  .github/workflows/pr-check.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md (#14)
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#15)
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#16)
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update pr-check.yml
  .github/workflows/pr-check.yml
Labels: none

Update server.md (#17)
  apps/server/server.md
Labels: App: Server

Update update-release-draft.yml
  .github/workflows/update-release-draft.yml
Labels: none

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#18)
  apps/server/server.md
Labels: App: Server

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#19)
  apps/server/server.md
Labels: App: Server

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#20)
  apps/server/server.md
Labels: App: Server

Revert "Update server.md (#20)"
  apps/server/server.md
Labels: App: Server

Revert "Update server.md (#20)" (#21)
  apps/server/server.md
Labels: App: Server

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#22)
  apps/server/server.md
Labels: App: Server

Update web.md
  apps/web/web.md
Labels: App: Web

Update web.md (#23)
  apps/web/web.md
Labels: App: Web

Update server.md
  apps/server/server.md
Labels: App: Server

Update server.md (#24)
  apps/server/server.md
Labels: App: Server

versioning
  .github/actions/get-version/action.yml
  .github/workflows/manual-version.yml
  .github/workflows/pr-check.yml
Labels: none

Update manual-version.yml
  .github/workflows/manual-version.yml
Labels: none

ver
  .github/actions/get-version/action.yml
  .github/workflows/manual-version.yml
Labels: none

Update action.yml
  .github/actions/get-version/action.yml
Labels: none

Update action.yml
  .github/actions/get-version/action.yml
Labels: none

Update action.yml
  .github/actions/get-version/action.yml
Labels: none

Update action.yml
  .github/actions/get-version/action.yml
Labels: none

Create release-version.yml
  .github/workflows/release-version.yml
Labels: none

Update release-version.yml
  .github/workflows/release-version.yml
Labels: none

.github/labeler.yml:

"App: Server":
  - changed-files:
      - any-glob-to-any-file:
          - apps/server/**/*

"App: Dashboard":
  - changed-files:
      - any-glob-to-any-file:
          - apps/dashboard/**/*

"App: Web":
  - changed-files:
      - any-glob-to-any-file:
          - apps/web/**/*
